html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
  font-size: var(--font-size);
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}
