.company {
  padding: 60px 0;
  // .company__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;

    @include mediaMobile {
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 32px;
    }
  }

  // .company__items

  &__items {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    @include mediaLaptop {
      gap: 16px;
    }
    @include mediaMobile {
      justify-content: center;
      align-items: center;
    }
    // justify-content: space-between;
  }
  &__title {
    color: #9e9e9e;
    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
    @include mediaLaptop {
      font-size: 20px;
    }
    @include mediaMobile {
      align-self: center;
      justify-content: center;
      align-items: center;
    }
  }
  // .company__item

  &__item {
  }

  // .company__link

  &__link {
    // &_travel {
    //   width: 125.996px;
    //   height: 28px;
    // }
    // &_airbnb {
    //   width: 89.744px;
    //   height: 28px;
    // }
    // &_expedia {
    //   width: 141.243px;
    //   height: 40px;
    // }
    // &_sky {
    //   width: 155.211px;
    //   height: 28px;
    // }
    // &_air {
    //   width: 153.456px;
    //   height: 40px;
    // }
  }
}
