.discover {
  padding: 60px 0;
  // .discover__grid

  &__desc {
    @include mediaTablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
    @include mediaTablet {
      grid-template-columns: 1fr;
    }
  }

  // .discover__hint
  &__hint {
    position: absolute;
    top: 90px;
    left: 40px;
    @include mediaLaptop {
      top: 40px;
      left: 20px;
    }
  }

  &__scroll {
    position: absolute;
    right: 15px;
    bottom: 20px;
    @include mediaLaptop {
      right: 0px;
      bottom: 0px;
    }
  }
  // .discover__title

  &__title {
    margin-bottom: 24px;
    @include mediaTablet {
      margin: 0px 0px 12px 0px;
    }
  }

  // .discover__text

  &__text {
    margin-bottom: 40px;
    @include mediaTablet {
      margin: 0px 0px 20px 0px;
    }
  }

  // .discover__picture

  &__picture {
    position: relative;
    @include mediaTablet {
      display: none;
    }
  }

  // .discover__img

  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &__product {
    position: absolute;
    top: 60px;
    left: 20px;
  }
  &__forms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 560px;
    padding: 12px 16px;
    // gap: 16px;
    border-radius: 16px;
    border: 1px solid rgba(144, 144, 144, 0.3);
    background: #fff;
    @include mediaAfterTablet {
      width: 100%;
    }
    @include mediaMobileS {
      padding: 6px 8px;
    }
  }

  // .discover__form

  // &__form {
  //   display: flex;
  //   justify-content: space-between;
  //   gap: 16px;
  // }

  // .discover__block

  &__block {
    display: flex;
    flex-direction: column;
    :not(:last-child) {
      ::after {
        content: "";
        width: 5px;
        height: 100%;
        background-color: #fff;
      }
    }
  }
  &__label {
    font-weight: 500;

    &_map {
      position: relative;
      &::before {
        position: absolute;
        top: -2px;
        left: -36px;
        display: inline-block;
        content: "";
        width: 24px;
        height: 24px;
        background-image: url("./../../img/discover/map.svg");
        background-repeat: no-repeat;
      }
    }
    &:not(:last-child) {
      margin: 0px 0px 8px 0px;
    }
  }
  &__btn {
    background-color: var(--accent);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 12px;
  }
}

.title-1 {
  color: var(--text-color);
  font-size: 72px;
  font-weight: 700;
  &_decor {
    position: relative;
  }
  &_decor::after {
    content: "";
    left: 0px;
    bottom: 0px;
    z-index: -1;
    position: absolute;
    width: 268px;
    height: 24px;

    background: url("../../img/discover/underline.svg") 0 0 no-repeat;
  }
  @include mediaTablet {
    font-size: 52px;
    &_decor::after {
      display: none;
    }
  }
  @include mediaMobile {
    font-size: 32px;
  }
  @include mediaMobileXS {
    font-size: 20px;
  }
}
.text {
  color: var(--text-muted);
  font-size: 18px;
  font-weight: 450;
  line-height: 150%;
  @include mediaTablet {
    font-size: 16px;
    text-align: center;
  }
  @include mediaMobile {
    font-size: 14px;
  }
  @include mediaMobileXS {
    font-size: 12px;
  }
}
.btn {
  width: 48px;
  height: 48px;
  &__img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
