.footer {
  padding: 80px;
  background-color: var(--text-color);
  color: #fff;
  z-index: 10;
  // .footer__container
  @include mediaMobile {
    padding: 40px;
  }
  &__container {
  }

  // .footer__row

  &__row {
    display: grid;
    gap: 128px;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    @include mediaMobile {
      grid-template-rows: 1fr, 2fr;
      grid-template-columns: auto;
      gap: 40px;
    }
  }

  // .footer__copywright

  &__copywright {
    display: grid;
    gap: 24px;
    p {
      max-width: 300px;
      @include mediaMobile {
        max-width: 100%;
      }
    }
    @include mediaMobile{
      justify-content: center;
      text-align: center;
    }
  }

  // .footer__nav

  &__nav {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    @include mediaMobile {
      justify-content: center;
      text-align: center;
    }
  }
}
.footer-nav {
  // .footer-nav_-title

  &_-title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    @include mediaMobile {
      &:not(:last-child) {
        margin: 0px 0px 20px 0px;
      }  
    }
  }

  // .footer-nav__list

  &__list {
    li {
      a {
        color: #fff;
        font-size: 16px;
        font-weight: 450;
        line-height: 150%;
      }

      &:not(:last-child) {
        margin: 0px 0px 16px 0px;
      }
      @include mediaMobile {
        &:not(:last-child) {
          margin: 0px 0px 8px 0px;
        }  
      }
    }
  }
}
