.form-email {
  flex-grow: 1;
  display: flex;
  gap: 12px;
  align-items: center;

  // .form__input

  &__input {
    height: 48px;
    flex-grow: 1;
    padding: 12px 12px 12px 44px;
    border-radius: 8px;
    border: 1px solid #fff;
    background-color: #fff;
    background-image: url("./../../img/subscribe/email.svg");
    background-repeat: no-repeat;
    background-position: 12px;
    &::placeholder {
      color: var(--text-muted);
      font-size: 14px;
      font-weight: 450;
      line-height: 150%;
      @include mediaMobile {
        font-size: 12px;
      }
    }
    @include mediaMobile {
      flex-grow: 0;
      height: 36px;
      padding: 12px 12px 12px 44px;
    }
  }

  // .form__btn

  &__btn {
    height: 48px;
    color: #fff;
    font-size: 16px;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    font-weight: 450;
    line-height: 150%;
    border-radius: 8px;
    background: #181818;
    @include mediaMobile {
      height: 36px;
      font-size: 14px;
    }
    @include mediaMobileS {
      width: 100%;
    }
  }
  @include mediaMobileS {
    // flex-grow: 0;
    display: flex;
    flex-direction: column;
  }
}
