.form {
  display: grid;
  grid-template-columns: 1fr auto 1fr auto;
  align-items: center;
  gap: 16px;
  // .form__map
  @include mediaMobile {
    gap: 12px;
  }
  @include mediaAfterTablet {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  @include mediaMobileS {
    // width: 200px;
    // align-items: center;
  }
  &__map {
    gap: 8px;
    display: grid;
    padding: 0px 0px 0px 36px;
    background-image: url("./../../img/discover/map.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0 -2px;
    span {
      display: inline-block;
      color: #181818;
      font-size: 16px;
      font-weight: 500;
      @include mediaMobileS {
        font-size: 14px;
      }
    }
    .form__input{
      @include mediaMobileXS {
        width: 100%;
      }
    }
    @include mediaAfterTablet {
      gap: 4px;
      padding: 0px 0px 0px 36px;
    }

    .autoComplete_wrapper {
      display: inline-block !important;
      @include mediaMobileXS {
        width: 200px;
      }
    }
  }
  &__devider {
    width: 1px;
    height: 24px;
    background: #909090;
    @include mediaAfterTablet {
      display: none;
    }
  }
  // .form__input

  &__input {
    &::placeholder {
      color: #909090;
      font-size: 14px;
      font-weight: 450;
      @include mediaMobileS {
        font-size: 12px;
      }
    }

  }

  // .form__calendar

  &__calendar {
    padding: 0px 0px 0px 36px;
    display: grid;
    gap: 8px;
    background-image: url("./../../img/discover/calendar.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0 -2px;
    span {
      color: #181818;
      font-size: 16px;
      font-weight: 500;
      @include mediaMobileS {
        font-size: 14px;
      }
    }
    @include mediaMobileS {
      // padding: 0px 0px 0px 18px;
    }
  }
  button {
    &:hover {
      opacity: 0.5;
    }
    @include mediaAfterTablet {
      display: flex;
      background-color: var(--accent);
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
    }
  }
}
