.subscribe {
  padding: 80px 0;
  background-color: var(--accent);
  // .subscribe__container
  @include mediaMobile {
    padding: 40px 0;
  }
  &__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::before {
      content: "";
      width: 236px;
      height: 273px;
      display: block;
      position: absolute;
      top: -80px;
      left: -80px;
      background-image: url("./../../img/subscribe/Vector.svg");
      background-repeat: no-repeat;
      @include mediaLaptop {
        display: none;
      }
      @include mediaTablet {
        display: none;
      }
    }
    @include mediaTablet {
      gap: 10px;
    }
    @include mediaMobile {
      flex-direction: column;
      // justify-content: flex-start;
      align-items: center;
    }
  }

  // .subscribe__content

  &__content {
    flex: 1 0 auto;
    padding: 0px 0px 0px 180px;
    @include mediaLaptop {
      padding: 0px 0px 0px 0px;
      flex: 0 0 auto;
    }
    @include mediaTablet {
      padding: 0px 0px 10px;
    }
  }

  // .subscribe__title

  &__title {
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    &:not(:last-child) {
      margin: 0px 0px 4px 0px;
    }
    @include mediaTablet {
      font-size: 20px;
    }
    @include mediaMobile {
      font-size: 28px;
    }
    @media (max-width: 520px) {
      font-size: 20px;
    }
  }

  // .subscribe__text

  &__text {
    color: #f0f0f0;
    font-size: 20px;
    font-weight: 450;
    @include mediaMobile {
      text-align: center;
    }
    @media (max-width: 520px) {
      font-size: 16px;
    }
  }

  // .subscribe__form

  &__form {
    flex-grow: 1;
    @include mediaLaptop {
      flex-grow: 0;
    }
 
  }
}
